<span ng-if="hmtext.length > hmlimit">

	<span ng-hide="hmfulltext" class="hmblink">
		<a ng-if="hmrecord" href="{{hmhost}}/web#id={{hmrecord}}&view_type=form&model=project.issue" target="_blank">
			{{hmtext | limitTo:hmlimit}}
		</a>
		<span ng-if="!hmrecord">{{hmtext | limitTo:hmlimit}}</span>
		<a class="morebtn" ngclass="{{ hmMoreClass }}" ng-click="toggleValue()" ng-bind-html="hmMoreText"></a>
	</span>

	<span ng-show="hmfulltext" class="hmblink">
		{{ hmtext }}
		<a class="lessbtn" ng-class="{{ hmLessClass }}" ng-click="toggleValue()" ng-bind-html="hmLessText"></a>
	</span>
	

</span>

<span ng-if="hmtext.length <= hmlimit">
	<a ng-if="hmrecord" href="{{hmhost}}/web#id={{hmrecord}}&view_type=form&model=project.issue" target="_blank">
		{{hmtext | limitTo:hmlimit}}
	</a>
	<span ng-if="!hmrecord">{{hmtext | limitTo:hmlimit}}</span>
</span>