body {
  min-width: 650px;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  background: white;
  max-height: 700px !important;
}

#wrapper {
  margin: 20px;
  padding: 20px;
}

.active-timer-running  {
    font-size: 15px;
    color: #6363a1;
    font-weight: bold;
}

/* LOGIN */
#login {
  color: #666666;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  font-size: 14px;
  margin: 30px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}

.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}

/*This will work on every browser but Chrome Browser*/
.table-fixed thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #fff;
}

/*This will work on every browser*/
.table-fixed thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.pen-title span {
  font-size: 12px;
}

.pen-title span .fa {
  color: #f30c16;
}

.pen-title span a {
  color: #f30c16;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  width: 100%;
  border-top: 5px solid #f30c16;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #f30c16;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.form-module .toggle .tooltip:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}

.form-module .form {
  display: none;
  padding: 40px;
}

.form-module .form:nth-child(2) {
  display: block;
}

.form-module h2 {
  margin: 0 0 20px;
  color: #f30c16;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.table-bordered {
  border: 1px solid #dadde1;
}

.form-module input:focus {
  border: 1px solid #f30c16;
  color: #333333;
}

.form-module button {
  cursor: pointer;
  background: #f30c16;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module button:hover {
  background: #d01c24;
}

.cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.cta a {
  color: #333333;
  text-decoration: none;
}

/* END LOGIN */
.action-btn {
  font-size: 4vw;
  margin: 0 2%;
}

#searchIssue {
  background-image: url("../img/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 88%;
  font-size: 13px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  display: inline;
}

#limitTo {
  width: 12%;
  float: right;
  font-size: 13px;
  padding: 13px 7px 13px 7px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  background: white;
  color: #666666;
}

.hide {
  display: none !important;
}

#loader-container {
  height: 400px;
  text-align: center;
  vertical-align: middle;
}

#loader-container .fa-cog {
  margin-top: 30%;
  color: #f30c16;
}

.odooError {
  color: red;
  font-weight: bold;
}

.logo {
  text-align: center;
}

.footer {
  width: 100%;
}

.nomargin {
  margin: 0;
}

.odooError {
  color: #f30c16;
  font-weight: bold;
}

.login {
  font-size: 3vw;
  margin: 0 0 15px 0;
}

.defaultCheckbox {
  width: 40px !important;
  display: inline !important;
  margin-bottom: 0 !important;
}

.allIssues {
  font-weight: normal;
  display: table-cell;
  vertical-align: bottom;
  /*float: right;*/
}

/* auto download timesheet input */

.auto_download_timesheet {
  font-size: 12px;
  font-weight: bold;
  color: #414546;
  padding: 5px 22px;
}

/* End stylying for auto timesheet*/

.startTimerCount {
  font-size: 12px;
  color: red;
}

.morebtn,
.lessbtn {
  color: orange !important;
  cursor: pointer;
}

.td-btn {
  color: #28a745;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.fa-2x {
  margin: 0 3%;
}

.bigstopbutton {
  position: absolute;
  top: 90px;
  height: 20px;
  border-radius: 2px;
  width: 82px;
  left: 16px;
  background: #28a745;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.pause-btn {
  color: #f8b334;
}

.table td,
.table th {
  padding: 0.55rem;
}

.table tbody > tr:hover {
  background: #ffff99;
}

.active-row {
  background: #ffff99;
}

#remote-selection {
  margin: 0 0 20px;
}

#remote-selection:hover {
  border: 1px solid #f30c16;
}

#remote-selection:focus {
  border: 1px solid #f30c16;
  box-shadow: none;
}

.pass-viewer {
  float: right;
  margin: -52px 5px 0 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.fa-eye {
  color: #ff000096;
  font-size: 20px;
  font-weight: bolder;
}

.fa-eye:hover {
  color: red;
}

.footer-app {
  font-size: 15px;
  font-weight: bold;
  color: #17a2b8 !important;
}

.no-remotes-set {
  margin: 60px 0px;
  font-weight: bold;
}

.fun-man {
  font-size: 15px;
}

.remote-info-block {
  margin: 0 0 10px 0;
  border: 1px solid #ddd;
  font-size: 13px;
}

.footer-btns {
  color: #17a2b8;
  font-size: 15px;
  border: 1px solid #ddd;
  text-align: center;
  padding: 15px;
  margin: 0 0 10px 0;
}

.footer-btns > i {
  padding: 0 10px;
}

.checked {
  color: orange;
}
