<html ng-app='sfitTimerAppOptions' ng-controller='mainController'>
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/lib/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/options_main_page.css">
    <script type="text/javascript" src="/js/lib/browser-polyfill.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular.min.js"></script>
    <script type="text/javascript"
            src="/js/lib/angular-animate.min.js"></script>
    <script type="text/javascript"
            src="/js/lib/angular-sanitize.min.js"></script>
    <script type="text/javascript"
            src="/js/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/js/lib/ripple.js"></script>
    <script type="text/javascript" src="/js/lib/alert.js"></script>
    <script type="text/javascript" src="/js/lib/odoo.js"></script>
    <script type="text/javascript" src="/js/_utils.js"></script>
    <script type="text/javascript" src="/js/_localstorage.js"></script>
    <script type="text/javascript" src="/js/options_main_page.js"></script>
    <title>Timer Options</title>
</head>
<body>
<div id="navigation">
    <h1 class="title-app">Timer Options</h1>
    <ul class="list-group">
        <li class="chooser list-group-item"
            ng-class="(options.active_page=='about') ? 'selected' : 'notselected'"
            ng-click="goToPage('about')">
            <i class="fa fa-info-circle"></i>
            <span>About Timer</span>
        </li>
        <li class="chooser list-group-item"
            ng-class="(options.active_page=='options') ? 'selected' : 'notselected'"
            ng-click="goToPage('options')">
            <i class="fa fa-cogs"></i>
            <span>Options</span>
        </li>
    </ul>
    <hr/>
    <div class="footer-app">
        <a href="popup.html"
           data-toggle="tooltip"
           data-placement="top"
           title="Back to list"
           class="back-left">
            <i class="fa fa-arrow-circle-left fa-2x"></i>
        </a>
    </div>
</div>
<div class="options-box box"
     ng-class="(options.active_page=='about') ? 'active_page' : 'inactive_page'">
    <h1>
        <div class="logo">
            <img src="/img/logo.png">
        </div>
    </h1>

    <hr>
    <div class="about-app">
        <h4 class="title-app text-center">Description</h4>
        <hr/>
        This is a cross-plaform Sunflower Timer works in Firefox and Chrome
        browsers
        with the aim
        of registering working hours of individual issues based on Odoo
        timesheets.
        <hr/>
        <h4 class="title-app text-center">Features</h4>
        <hr/>
        <div>
            <ul class="list-group">
                <li class="list-group-item">Start issue timer.</li>
                <li class="list-group-item">Edit issue time</li>
                <li class="list-group-item">Stop issue timer</li>
                <li class="list-group-item">Create odoo timesheet line record
                    linked to analytic account.</li>
                <li class="list-group-item">Change issue state - eg. start or
                    finish issue</li>
                <li class="list-group-item">Support tasks instead of issues</li>
                <li class="list-group-item">Show own issues or all issues</li>
                <li class="list-group-item">Add a Remote host</li>
            </ul>
        </div>
    </div>
</div>
<div class="options-box box"
     ng-class="(options.active_page=='options') ? 'active_page' : 'inactive_page'">
    <div class="form remote-options-form">
        <form>
            <h4 class="remote-title text-info">Add Remote</h4>
            <hr>
            <div class="form-group">
                <label for="remote-host">Odoo Host</label>
                <input
                        type="text"
                        ng-model="data.remote_host" type="text"
                        class="form-control" id="remote-host"
                        placeholder="https://wwww.sunflowerweb.nl">
            </div>
            <div class="form-group">
                <label for="remote-database">Display Name</label>
                <input type="text" ng-model="data.remote_name"
                       class="form-control" id="remote-name"
                       placeholder="SFIT">
            </div>
            <div class="form-group">
                <label for="remote-database">Odoo Database</label>
                <input type="text" ng-model="data.remote_database"
                       class="form-control" id="remote-database"
                       placeholder="someodoodatabase">
            </div>

            <div class="form-group">
                <label class="label">Data Source</label>
                <ul class="data-source-list list-group">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   value="project.issue"
                                   ng-model="data.remote_datasrc"
                                   id="FromIssues"/>
                            <label class="form-check-label" for="FromIssues">
                                From Issues
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   value="project.task"
                                   ng-model="data.remote_datasrc"
                                   id="FromTasks"/>
                            <label class="form-check-label" for="FromTasks">
                                From Tasks
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <span class="caption-remotes">Controls</span>
            <div class="remotes-control-btns col-md-12 text-center text-info pointer">
                <i ng-click="add_remote_host()"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Add a remote host"
                   class="fa fa-2x fa-plus-circle"></i>
                <i ng-click="getRemoteList()"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Refresh list of remotes"
                   class="fa fa-2x fa-refresh"></i>
                <i ng-click="getRemoteList()"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="View list of remotes"
                   class="fa fa-2x fa-eye"></i>
                <i ng-click="remove_all_remotes_hosts()"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Remove all remotes"
                   class="fa fa-2x fa-minus-circle"></i>
            </div>

            <div class="remote-error">{{remote_error}}</div>
        </form>
    </div>
    <div class="remotes-table-info" ng-show="remote_hosts.length">
        <table class="table table-bordered">
            <caption class="text-info caption-remotes">List of Available
                Remotes
            </caption>
            <thead>
            <tr>
                <th scope="col">Remote</th>
                <th scope="col">Host</th>
                <th scope="col">Database</th>
                <th scope="col">Source</th>
                <th scope="col">State</th>
                <th/>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="remote in remote_hosts">
                <td class="text-info"
                    hm-read
                    hmtext="{{remote.url}}"
                    hmhost="{{remote.url}}"
                    hmlimit="25"
                    hmMoreClass="hmMoreClass"
                    hmLessClass="hmMoreClass"
                    hm-more-text="..."
                    hm-less-text="<i class='fa fa-caret-up'></i>">
                </td>
                <td hm-read
                    hmtext="{{remote.name}}"
                    hmlimit="10"
                    hmMoreClass="hmMoreClass"
                    hmLessClass="hmMoreClass"
                    hm-more-text="..."
                    hm-less-text="<i class='fa fa-caret-up'></i>">
                </td>
                <td hm-read
                    hmtext="{{remote.database}}"
                    hmlimit="10"
                    hmMoreClass="hmMoreClass"
                    hmLessClass="hmMoreClass"
                    hm-more-text="..."
                    hm-less-text="<i class='fa fa-caret-up'></i>">
                </td>
                <td hm-read
                    hmtext="{{remote.datasrc}}"
                    hmlimit="10"
                    hmMoreClass="hmMoreClass"
                    hmLessClass="hmMoreClass"
                    hm-more-text="..."
                    hm-less-text="<i class='fa fa-caret-up'></i>">
                </td>
                <td hm-read
                    hmtext="{{remote.state}}"
                    hmlimit="10"
                    hmMoreClass="hmMoreClass"
                    hmLessClass="hmMoreClass"
                    hm-more-text="..."
                    hm-less-text="<i class='fa fa-caret-up'></i>">
                </td>
                <td class="text-center td-btn">
                    <i class="fa fa-trash-o action-btn pointer"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="remove selected remote"
                       ng-click="remove_remote(remote.url)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>