<html ng-app="sfitTimerApp" ng-controller="mainController">
<head>
    <title>SFIT Timer</title>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <script type="text/javascript" src="/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="/lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/lib/angular-timer.js"></script>
    <script type="text/javascript" src="/lib/moment.min.js"></script>
    <script type="text/javascript" src="/lib/humanize-duration.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script type="text/javascript" src="/lib/odoo.js"></script>
    <script type="text/javascript" src="/js/_localstorage.js"></script>
    <script type="text/javascript" src="/js/_main.js"></script>
    <script type="text/javascript" src="/js/_sfit-readmore-directive.js"></script>
</head>
<body class="unselectable">

    <!-- Animated Loader runs as app connects to odoo (2 seconds) -->
    <div id="loader-container">
        <i class="fa fa-cog fa-spin fa-5x"></i>
    </div>

    <!-- Login Form - Shown when there is no active odoo session-->
    <div id="login" class="module form-module hide" ng-show="!data.user">
        <div class="toggle"><i class="fa fa-times fa-pencil"></i></div>
        <div class="form">
            <div class="logo">
                <img src="/img/sunflower-logo.png">
            </div>
            <div ng-show="odoo_error">
                <p class="odooError">{{odoo_error}}</p>
            </div>
            <form>
                <p class="odooError">{{loginError}}</p>
                <input 
                    ng-show="!data.useDefaultHost"
                    type="text"
                    ng-model="data.host"
                    placeholder="Host"/>
                <input 
                    ng-show="!data.useDefaultHost"
                    type="text"
                    ng-model="data.database"
                    placeholder="Database"/>
                <input 
                    ng-show="!data.useExistingSession"
                    type="text"
                    ng-model="data.username"
                    placeholder="Username"/>
                <input 
                    ng-show="!data.useExistingSession"
                    type="password"
                    ng-model="data.password"
                    placeholder="Password"/>
                <div class="checkbox">
                    <label>
                        <input
                            type="checkbox"
                            name="useDefaultHost"
                            ng-model="data.useDefaultHost"
                            ng-init="data.useDefaultHost=true"
                            class="defaultCheckbox"/>
                            Use Default Host
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input 
                            type="checkbox"
                            name="useExistingSession"
                            ng-model="data.useExistingSession"
                            ng-init="data.useExistingSession=false"
                            class="defaultCheckbox"/>
                            Try to use existing session
                    </label>
                </div>
                <button class="login" ng-click="login()">
                    Login <i ng-show="loginLoading" class="fa fa-cog fa-spin"></i>
                </button>           
            </form>
        </div>
        <div class="cta forgotpwd"><a>Forgot your password?</a></div>
    </div>
    <!-- End Login Form-->

    <div id="wrapper" class="hide" ng-show="data.user">
    <div>
      <input 
        ng-model="searchIssue.$"
        type="text" 
        id="searchIssue" 
        placeholder="Search for Issue by ID, Name, Stage..." 
        title="Type in an issue name">
        <select 
            id="limitTo"
            ng-model="limitTo" 
            ng-options="l.opt for l in limitRange" 
            ng-init="limitTo=limitRange[1]">
        </select>
    </div>
        <div>
            <p class="odooError">{{odoo_error}}</p>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Issues [{{data.filtered_issues.length}}]
                        <span class="allIssues"> 
                            <input 
                                type="checkbox" 
                                ng-model="allIssues">
                                All
                        </span> 
                    </th>
                    <th>Stage</th>
                    <th>
                        <timer 
                            ng-if="startTimeCount" 
                            start-time="startTimeCount" 
                            class="startTimeCount">{{hhours}}:{{mminutes}}:{{sseconds}}
                        </timer>
                        <div class="bigstopbutton" 
                            ng-show="current_date" 
                            ng-click="stopActiveTimer1()">
                            <i class="fa fa-square" aria-hidden="true"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="data.active_timer_id == issue.id ? 'active-row': ''" ng-repeat="issue in data.filtered_issues = (data.employee_issues | filter:searchIssue:strict| filter:{user_id: data.user_id} | filter:{stage_id: data.stage_id} | limitTo: limitTo.val | orderBy: 'currentRunning')" id={{issue.id}}>
                    <td class="td-60 pd-7"
                        hm-read 
                        hmtext="{{issue.id}}-{{issue.name}}" 
                        hmrecord="{{issue.id}}"
                        hmhost="{{data.host}}"
                hmsource="{{data.dataSource}}"
                        hmlimit="33"
                        hmMoreClass="hmMoreClass" 
                        hmLessClass="hmMoreClass"
                        hm-more-text="..." 
                        hm-less-text="<i class='fa fa-caret-up'></i>">  
                        
                    </td>
                    <td class="td-25 pd-7"
                        hm-read 
                        hmtext="{{issue.stage_id[1]}}" 
                        hmlimit="9"
                        hmMoreClass="hmMoreClass" 
                        hmLessClass="hmMoreClass"
                        hm-more-text="..." 
                        hm-less-text="<i class='fa fa-caret-up'></i>">  
                    </td>
                    <td class="td-15 pd-7 text-center td-btn">
                        <i 
                            ng-show="!current_date" 
                            class="fa fa-play-circle action-btn pointer" 
                            ng-click="startTimer1(issue)"></i>
                        <i 
                            ng-show="current_date && current_date.issue_id == issue.id"
                            class="fa fa-stop-circle action-btn pointer" 
                            ng-click="stopTimer1(issue.id)"></i>
                    </td>
                </tr> 
                <tr ng-if="!data.filtered_issues.length">
                    <td>No Issues Available</td>
                    <td/>
                    <td/>
                </tr>
            </tbody>
        </table>
        <!--<button class="btn btn-success" style="float: right;">Refresh</button>-->
        <div class="footer">
            <div class="row">
                <div class="col-sm-6">
                    <small><b>Data loaded from:</b> {{data.dataSource}}</small><br/>
                    <a href="options_main_page.html">
                        <i class="fa fa-cog" aria-hidden="true"></i> Options 
                    </a>
                </div>
                <div class="col-sm-6">
                    <i class="fa fa-refresh fa-2x right pointer action-btn"
                       ng-click="load_employee_issues()"></i>
                    <i class="fa fa-sign-out fa-2x right pointer" 
                        ng-click="logout()"></i>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>
