<html ng-app="sfitTimerApp" ng-controller="mainController">

<head>
    <title>SFIT Timer</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <script type="text/javascript" src="/js/lib/browser-polyfill.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular-timer.js"></script>
    <script type="text/javascript" src="/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="/js/lib/humanize-duration.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script type="text/javascript" src="/js/lib/odoo.js"></script>
    <script type="text/javascript" src="/js/lib/ripple.js"></script>
    <script type="text/javascript" src="/js/lib/alert.js"></script>
    <script type="text/javascript" src="/js/_utils.js"></script>
    <script type="text/javascript" src="/js/_localstorage.js"></script>
    <script type="text/javascript" src="/js/_main.js"></script>
    <script type="text/javascript" src="/js/_sfit-readmore-directive.js"></script>
</head>

<body class="unselectable">
    <!-- Animated Loader runs as app connects to odoo (2 seconds) -->
    <div id="loader-container">
        <i class="fa fa-cog fa-spin fa-5x"></i>
    </div>
    <!-- Login Form - Shown when there is no active odoo session-->
    <div id="login" class="container module form-module hide" ng-show="!data.user">
        <div class="toggle"><i class="fa fa-times fa-pencil"></i></div>
        <div class="form">
            <div class="logo">
                <img src="/img/logo.png">
            </div>
            <div ng-show="odoo_error">
                <p class="odooError">{{odoo_error}}</p>
            </div>
            <!-- If no remotes configures show -->
            <div class="container no-remotes-set" ng-show="!remotes.length">
                <div class="alert alert-warning">
                    Hello <span class="fun-man">&#128521;</span>, you
                    have not configured any
                    remotes, please click on <b><i class="fa fa-cogs fa-spin"></i>
                        options</b> below and configure remotes to login using them.
                </div>
            </div>
            <form ng-show="remotes.length">
                <p class="odooError">{{loginError}}</p>
                <input ng-show="!data.useExistingSession" type="text" ng-model="data.username" placeholder="Username" />
                <input ng-show="!data.useExistingSession" type="password" ng-model="data.password" id="unique-password"
                    placeholder="Password" />
                <span ng-show="!data.useExistingSession" ng-click="displayPass()" class="pass-viewer">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
                <select id="remote-selection" ng-show="remotes.length" data-toggle="tooltip" data-placement="bottom"
                    title="Select a remote host via the URLs" placeholder="select remote" class="form-control">
                    <option ng-repeat="remote in remotes" ng-value="remote.id">{{remote.label}}
                    </option>
                </select>
                <div class="checkbox" ng-show="remotes.length">
                    <label>
                        <input type="checkbox" name="useExistingSession" ng-model="data.useExistingSession"
                            ng-init="data.useExistingSession=false" class="defaultCheckbox" />
                        Use Existing Session
                    </label>
                </div>
                <button class="login" ng-click="login()">
                    Login <i ng-show="loginLoading" class="fa fa-cog fa-spin"></i>
                </button>
                <div class="remote-info">{{remote_info}}</div>
            </form>
        </div>
        <div class="cta forgotpwd footer-app-opts">
            <a href="options_main_page.html">
                <i class="fa fa-cogs fa-spin" aria-hidden="true"></i> Options
            </a>
        </div>
    </div>
    <!-- Issue Table -->
    <div id="wrapper" class="hide" ng-show="data.user && remotes.length">
        <div>
            <input ng-model="searchIssue.$" type="text" id="searchIssue"
                placeholder="Search for Issue by ID, Name, user, priority, Stage..." title="Type in an issue, create date, user, priority with suffix '-priority'
               i.e' high-priority' or stage name to filter out">
            <select id="limitTo" ng-model="limitTo" ng-options="l.opt for l in limitRange"
                ng-init="limitTo=limitRange[0]">
            </select>
        </div>

        <div class="container footer">
            <div class="auto_download_timesheet" data-toggle="tooltip" data-placement="top"
                title="Store timesheet locally when you stop timer on an specific issue">
                <!-- NB: ng-change="auto_issue_timesheet_checkbox_change()" 
                not working well -->
                <input id="auto_download_timesheet_input" type="checkbox" ng-model="auto_download_issue_timesheet">
                Auto Download Issue Timesheet
                </input>
            </div>
            <div class="row">
                <div class="col-md-12 footer-btns pointer">
                    <i class="fa fa-hand-o-left fa-2x" data-toggle="tooltip" data-placement="top"
                        ng-click="switch_btwn_remotes()" title="Switch between remotes"></i>
                    <i class="fa fa-refresh fa-2x" data-toggle="tooltip" data-placement="top"
                        title="Refresh employee issues" ng-click="load_employee_issues()"></i>
                    <i class="fa fa-sign-out fa-2x" data-toggle="tooltip" data-placement="top" title="Log out"
                        ng-click="logout()"></i>
                    <a href="options_main_page.html" class="options-btn" data-toggle="tooltip" data-placement="top"
                        title="Go To options"><i class="fa fa-cogs fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-responsive-sm table-bordered table-fixed">
            <thead>
                <tr>
                    <th>
                        <div>
                            <span ng-if="startTimeCount && data.active_timer_id" class="active-timer-running ">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> #{{data.active_timer_id}}
                            </span>
                        </div>
                        <!-- Use startTimeCount a defined time to run -->
                        <timer ng-if="startTimeCount" start-time="startTimeCount" class="startTimeCount">
                            {{hhours}}:{{mminutes}}:{{sseconds}}
                        </timer>
                    </th>
                    <th>Issue Desc</th>
                    <th>Create Date</th>
                    <th>Priority</th>
                    <th>Stage</th>
                    <th>{{data.dataSource == 'project.task' ? 'Tasks' : 'Issues'}}
                        [{{data.filtered_issues.length}}]
                        <span class="allIssues">
                            <input id="showAllIssues" type="checkbox" ng-model="allIssues">
                            Show for Everyone
                            </input>
                        </span>
                    </th>
                    <th ng-show="data.dataSource == 'project.task'">Hours Spent</th>
                    <th ng-show="data.dataSource == 'project.task'">Remaining
                        Hours
                    </th>
                    <th>Project</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="data.active_timer_id == issue.id ? 'active-row': ''" id={{issue.id}}
                    ng-repeat="issue in data.filtered_issues = (data.employee_issues | orderBy: dynamicIssueList | filter:searchIssue:strict | filter:{active_now: data.active_now}  | filter:{user_id: data.user_id} | filter:{create_date: data.create_date} | filter:{message_unread: data.message_unread} | filter:{priority: data.priority} | filter:{stage_id: data.stage_id} | limitTo: limitTo.val)">
                    <td class="text-center td-btn" hmlimit="20">
                        <i ng-show="!current_date" data-toggle="tooltip" data-placement="top"
                            title="Start the timer for the selected issue" class="fa fa-play-circle action-btn pointer"
                            ng-click="startTimer1(issue)"></i>
                        <i ng-click="stopTimer1(issue.id)" data-toggle="tooltip" data-placement="top"
                            title="Stop timer and record the time to Odoo timesheets"
                            ng-show="current_date && current_date.issue_id == issue.id"
                            class="text-danger fa fa-stop-circle action-btn pointer">
                        </i>
                    </td>
                    <td class="text-center">
                        <input id="edit_issue_desc_opt" type="checkbox" checked="checked" />
                    </td>
                    <td hm-read hmtext="{{issue.create_date.split(' ')[0]}}" hmlimit="20" hmMoreClass="hmMoreClass"
                        hmLessClass="hmMoreClass" hm-more-text="..." hm-less-text="<i class='fa fa-caret-up'></i>">
                    </td>
                    <td ng-if="issue.priority_level.length" hmrecord="{{issue.priority}}" data-toggle="tooltip"
                        data-placement="top" title="Priority set as None=nothing Low=* Medium=** High=***">
                        <span ng-repeat="index in issue.priority_level" class="fa fa-star checked"></span>
                    </td>
                    <td ng-if="!issue.priority_level.length" hmrecord="{{issue.priority}}" hmlimit="10"
                        data-toggle="tooltip" data-placement="top" title="Here priority is not set 'Empty'">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </td>
                    <td hm-read ng-if="!issue.message_unread" hmtext="{{issue.id}}-{{issue.name}}"
                        hmrecord="{{issue.id}}" hmhost="{{current_host}}" hmsource="{{data.dataSource}}" hmlimit="70"
                        hmMoreClass="hmMoreClass" hmLessClass="hmMoreClass" hm-more-text="..."
                        hm-less-text="<i class='fa fa-caret-up'></i>">

                    </td>
                    <td hm-read ng-if="issue.message_unread"
                        hmtext="{{issue.id}}-{{issue.name}}  ----> ({{issue.message_summary}})"
                        hmMessageUnread="{{issue.message_summary}}" hmrecord="{{issue.id}}" hmhost="{{current_host}}"
                        hmsource="{{data.dataSource}}" hmlimit="70" hmMoreClass="hmMoreClass" hmLessClass="hmMoreClass"
                        hm-more-text="..." hm-less-text="<i class='fa fa-caret-up'></i>">
                    </td>
                    <td hm-read hmtext="{{issue.stage_id[1]}}" hmlimit="15" hmMoreClass="hmMoreClass"
                        hmLessClass="hmMoreClass" hm-more-text="..." hm-less-text="<i class='fa fa-caret-up'></i>">
                    </td>
                    <td hm-read ng-show="data.dataSource == 'project.task'"
                        hmtext="{{getTimeInHrsMins(issue.effective_hours)}}" hmlimit="9" hmMoreClass="hmMoreClass"
                        hmLessClass="hmMoreClass" hm-more-text="..." hm-less-text="<i class='fa fa-caret-up'></i>">
                    </td>
                    <td hm-read ng-show="data.dataSource == 'project.task'"
                        hmtext="{{getTimeInHrsMins(issue.remaining_hours)}}" hmlimit="9" hmMoreClass="hmMoreClass"
                        hmLessClass="hmMoreClass" hm-more-text="..." hm-less-text="<i class='fa fa-caret-up'></i>">
                    </td>
                    <td hm-read hmtext="{{issue.project_id[1]}}" hmlimit="15" hmMoreClass="hmMoreClass"
                        hmLessClass="hmMoreClass" hm-more-text="..." hm-less-text="<i class='fa fa-caret-up'></i>">
                    </td>
                </tr>
                <tr ng-if="!data.filtered_issues.length">
                    <td class="text-center text-danger" colspan="8">
                        No issues available currently assigned to you
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container footer">
            <div class="row">
                <div class="remote-info-block col-md-12" ng-repeat="info in remote_instance_info">
                    <span><b>Odoo: </b> {{info.odoo_version}}</span><br />
                    <span><b>Host:</b> {{info.host}}</span><br />
                    <span><b>Database:</b> {{info.db}}</span><br />
                    <span><b>Current User:</b> {{info.current_user}}</span><br />
                </div>
            </div>
        </div>
    </div>
    <!-- End of Issue Table -->
</body>

</html>